@import "variables";
@import "partials/header";
@import "partials/footer";

* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
  background: #000;
  overflow-x: hidden;
  @include down-sm {
    background: #fff;
    padding: 1.56vw;
  }
  #app {
    padding: 15px;
    background: #000;
    border: 15px solid #fff;
    @include down-sm {
      border: 1.56vw solid #000;
      margin: 0;
      padding: 0;
    }
  }

  &.menu-in {
    overflow: hidden;
    height: 100vh;
  }
}

::-moz-selection {
  background: #e16048;
}

::selection {
  background: #e16048;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  @include up-xl {
    max-width: 1600px;
  }
}

.container-fluid {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.btn-fill {
  position: relative;
  overflow: hidden;
  background: linear-gradient(90deg, black 100%, white 0%);
  transition: all 0.3s cubic-bezier(0.96, 0.03, 1, 1);
  background-position: -15vw 0;
  background-repeat: no-repeat;
  @include down-sm {
    background-position: -100vw 0;
  }
  span {
    color: #000;
    position: relative;
    z-index: 5;
  }
  &:hover {
    background-position: 0 0;
    span {
      color: #fff;
    }
  }
}

.fadeIn {
  opacity: 0;
  transition: all 0.5s;
  &.init {
    opacity: 1;
  }
}

.video-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 200;
  background: transparent;
  display: none;

  button {
    position: fixed;
    top: 50px;
    width: 50px;
    height: 50px;
    background: transparent;
    -webkit-appearance: none;
    border: none;
    cursor: pointer;
    z-index: 600;
    outline: 0;
    right: 50px;
    svg {
      width: 100%;
      height: 100%;
    }
    @include down-sm {
      width: 8.33vw;
      right: 5.73vw;
      top: 10.42vw;
      height: 6.88vw;
    }
  }
  .popup-logo {
    width: 10%;
    left: 30px;
    position: fixed;
    bottom: 30px;
    opacity: 0;
    transform: translate(0, 200%);
    transition: 1s all 2s;
    @include down-sm {
      width: 35%;
    }
  }
  .popup-icons {
    width: 10%;
    right: 30px;
    position: fixed;
    bottom: 30px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    opacity: 0;
    transform: translate(0, 200%);
    transition: 1s all 2s;
    @include down-sm {
      width: 35%;
    }
    li {
      flex: 0 1 calc(33.33% - 10px);
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  &.playing {
    display: block;
    background: rgba(0, 0, 0, 0.85);
  }

  .popup-content-inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 150px 15%;
    @include down-sm {
      padding: 30px;
    }
    video {
      width: 100%;
      outline: 0;
      opacity: 0;
      transition: all 2s;
      transform: translate(0, -50px) scale(2);
    }
  }
  &.visible {
    .popup-content-inner video,
    .popup-logo,
    .popup-icons {
      opacity: 1;
      transform: translate(0, 0) scale(1);
    }
  }
}

// #back-to-top {
//   position: fixed;
//   bottom: 30px;
//   right: 30px;
//   width: 80px;
//   height: 80px;
//   z-index: 5000;
//   display: none;
//   @include down-sm {
//     width: 15vw;
//     height: 15vw;
//     right: 4.5vw;
//     bottom: 4.5vw;
//   }
//   img {
//     width: 100%;
//   }
//   &:hover {
//     opacity: 1;
//   }
// }

@include desk {
  body {
    #app {
      padding: 0.78vw;
      border: 0.78vw solid #fff;
    }
  }

  .container {
    padding: 0 1.04vw;
  }

  .container-fluid {
    width: 100%;
    max-width: 100%;
  }

  .video-popup {
    button {
      top: 2.6vw;
      width: 2.6vw;
      height: 2.6vw;
      right: 2.6vw;
      svg {
        width: 100%;
        height: 100%;
      }
    }
    .popup-logo {
      left: 1.56vw;
      bottom: 1.56vw;
    }
    .popup-icons {
      right: 1.56vw;
      bottom: 1.56vw;

      li {
        flex: 0 1 calc(33.33% - 0.52vw);
      }
    }

    .popup-content-inner {
      padding: 7.81vw 15%;
      video {
        transform: translate(0, -2.6vw) scale(2);
      }
    }
  }
  #back-to-top {
    bottom: 1.56vw;
    right: 1.56vw;
    width: 4.17vw;
    height: 4.17vw;
  }
}

.visible-xs {
  display: none !important;
  @include down-sm {
    display: block !important;
  }
}
.hidden-xs {
  display: block !important;
  @include down-sm {
    display: none !important;
  }
}
