@import "../variables";

footer {
  text-align: center;
  border-top: 20px solid #000;
  position: relative;
  overflow: hidden;
  background: #fff;
  @include down-sm {
    border-top: 2.08vw solid #000;
  }
  > div {
    transform: translate(0, 100%);
    transition: all 0.3s;
  }
  &.init {
    > div {
      transform: translate(0, 0);
    }
  }
  .footer-logo {
    display: inline-block;
    @include down-sm {
      display: block;
    }
    img {
      margin-top: 150px;
      width: 1090px;
      @include down-sm {
        width: 80%;
        margin-top: 30vw;
      }
    }
  }
  .footer-social {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 35px;

    li {
      a {
        padding: 0 6px;
        display: block;
        @include down-sm {
          padding: 0 1.56vw;
        }
        img {
          width: 58px;
          display: block;
          @include down-sm {
            width: 14.58vw;
          }
        }
      }
    }
  }
  .footer-copyright {
    font: 400 12.5px/20px $font-lemon;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding-bottom: 10px;
    a {
      color: inherit;
    }
    @include down-sm {
      padding-left: 6.25vw;
      padding-right: 6.25vw;
      font: 400 2.92vw/4.58vw $font-lemon;
    }
  }
}

@include desk {
  footer {
    border-top: 1.04vw solid #000;

    .footer-logo {
      img {
        margin-top: 7.81vw;
        width: 56.77vw;
      }
    }
    .footer-social {
      margin-top: 1.82vw;
      margin-bottom: 1.82vw;

      li {
        a {
          padding: 0 0.31vw;
          img {
            width: 3.02vw;
          }
        }
      }
    }
    .footer-copyright {
      font: 400 0.65vw/1.04vw $font-lemon;
      letter-spacing: 0.03vw;
      padding-bottom: 0.52vw;
    }
  }
}
