.product-hero {
  height: 727px;
  @include down-sm {
    height: auto;
    padding: 39vw 0 27vw;
  }
}

.hero-main-product-sec {
  position: absolute;
  top: 165px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  z-index: 15;
  @include down-sm {
    top: 18vw;
  }
  .hero-main-product {
    position: relative;
    margin: auto;
    display: inline-block;
    img {
      position: relative;
      top: 205px;
      height: auto;
      width: 882px;
      z-index: 10;
      opacity: 0;
      transform: scale(3);
      transition: all 1.5s cubic-bezier(0.15, 1.01, 1, 1);
      @include down-sm {
        width: 58vw;
        top: 21.35vw;
      }
    }
    &:before {
      content: " ";
      background: url(../assets/img/SpicyPepper.png) no-repeat;
      width: 410px;
      height: 500px;
      background-size: contain;
      position: absolute;
      left: -223px;
      top: 490px;
      z-index: 5;
      transform: translate(50%, 0);
      opacity: 0;
      transition: 1s all 1s;
      @include down-sm {
        width: 35vw;
        left: -12vw;
        top: 30vw;
        height: 52.08vw;
      }
    }
  }
  &.init {
    .hero-main-product {
      img {
        opacity: 1;
        transform: scale(1);
      }
      &:before {
        transform: translate(0, 0);
        opacity: 1;
      }
    }
  }
}
.product-h2 {
  margin-top: 86px;
  color: #e16048;
  text-transform: uppercase;
  font: 400 32px/34px $font-lemon;
  letter-spacing: 5px;
  margin-bottom: 30px;
  &.facts {
    margin-top: 90px;
    margin-bottom: -5px;
    @include down-sm {
      margin-top: 10vw;
      margin-bottom: 3vw;
    }
  }
  @include down-sm {
    margin-top: 5vw;
    font: 400 5.5vw/8vw $font-lemon;
    letter-spacing: 0.6vw;
    margin-bottom: 3vw;
  }
}
.product-info {
  text-align: center;
  padding-top: 430px;
  padding-bottom: 134px;
  position: relative;
  z-index: 10;
  background: #fff;
  @include down-sm {
    padding-top: 28vw;
    padding-bottom: 9vw;
  }
  #mandarin-style {
    width: 380px;
    @include down-sm {
      width: 44vw;
    }
    opacity: 0;
    transition: all 0.3s;
    &.init {
      opacity: 1;
    }
  }
  h1 {
    font: 400 77px/77px $font-lemon;
    letter-spacing: 0;
    text-transform: uppercase;
    color: #000;
    margin-top: 17px;
    margin-bottom: 77px;
    opacity: 0;
    transition: all 1s;
    &.init {
      opacity: 1;
      letter-spacing: 46px;
    }
    @include down-sm {
      font: 400 6vw/6vw $font-lemon;
      margin-top: 1vw;
      margin-bottom: 5vw;
      &.init {
        letter-spacing: 2vw;
      }
    }
  }
  #logoimg {
    width: 90px;
    opacity: 0;
    transition: 0.5s all 0.5s;
    transform: translate(0, 50px);
    @include down-sm {
      width: 12vw;
      transform: translate(0, 5.21vw);
      padding: 4vw 0;
    }
    &.init {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
  #callouts {
    width: 450px;
    margin: 33px auto 0;
    display: flex;
    justify-content: space-between;
    @include down-sm {
      width: 100%;
      margin: 5vw auto 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    img {
      width: 31%;
      opacity: 0;
      transition: all 0.5s;
      &:nth-child(1) {
        transform: translate(100px, 0);
      }
      &:nth-child(2) {
        transform: translate(0, 50px);
      }
      &:nth-child(3) {
        transform: translate(-100px, 0);
      }
      @include down-sm {
        width: 35%;
        margin-bottom: 4vw;
        &:nth-child(1) {
          transform: translate(0, 20%);
          transition: 0.5s all 0s;
        }
        &:nth-child(2) {
          transform: translate(0, 20%);
          transition: 0.5s all 0.3s;
        }
        &:nth-child(3) {
          transform: translate(0, 20%);
          transition: 0.5s all 0.6s;
        }
      }
    }
    &.init {
      img {
        opacity: 1 !important;
        transform: translate(0, 0) !important;
      }
    }
  }

  .product-info-content {
    font: 400 20px/38px $font-regular;
    width: 860px;
    margin: auto;
    letter-spacing: 2px;
    @include down-sm {
      font: 400 4vw/5.5vw $font-regular;
      width: 95%;
      letter-spacing: 0.15vw;
      margin: 0 0 1vw 0;
    }
    p {
      margin: 0 0 10px 0;
    }
  }
  #nfp {
    margin: auto;
    width: 1030px;
    @include down-sm {
      width: 90%;
      margin: 15vw auto 0;
    }
  }
}

.product-middle {
  position: relative;
  z-index: 5;
  background: #000;
  overflow: hidden;
  height: 760px;
  border-top: 15px solid #000;
  @include down-sm {
    height: 70vh;
    border-top: 1.04vw solid #000;
    border-bottom: 1.04vw solid #000;
    .owl-carousel .owl-item img {
      width: auto;
      height: 70vh;
    }
  }
  &:before {
    content: " ";
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 200vw;
    height: 100%;
    transform: translate(-201vw, 0);
    z-index: 1;
    transition: all 1s cubic-bezier(0, 0, 0.96, -0.1);
  }

  img {
    width: 100%;
    display: block;
    opacity: 0;
    transition: 1s all 0.5s;
  }
  &.init {
    &::before {
      transform: translate(201vw, 0);
    }
    img {
      opacity: 1;
    }
  }
}
.instructions-heading {
  border-top: 15px solid #000;
  padding: 150px 0;
  @include down-sm {
    border-top: 0;
    padding: 10vw 0;
  }
  h2 {
    font: 400 76px/165px $font-lemon;
    letter-spacing: 11px;
    text-transform: uppercase;
    white-space: nowrap;
    color: #000;
    left: 0;
    position: relative;
    animation: 6000s marquee infinite linear;
    @include down-sm {
      padding: 10vw 0;
      font: 400 7.92vw/17.19vw $font-lemon;
      letter-spacing: 1.15vw;
    }
    &.init {
      color: #fff;
    }
  }
}
.instructions {
  // padding-top: 70px;
  // padding-bottom: 72px;
  h2 {
    text-align: center;
  }
  .intructions-inner {
    // margin: 82px auto 0;
    // width: 955px;
    .intructions-row {
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      border-bottom: 15px solid #000;
      background: #fff;
      @include down-sm {
        justify-content: center;
        align-items: center;
        border-bottom: 2vw solid #000;
      }
      &:hover {
        @include up-sm {
          > div:nth-child(2) video {
            opacity: 0.5;
          }
        }
      }
      > div {
        display: flex;
        align-items: center;
        overflow: hidden;
      }
      &:last-child {
        border-bottom: none;
      }
      &:nth-child(even) {
        flex-direction: row;
        @include down-sm {
          flex-direction: column;
        }
        div {
          &:nth-child(1) {
            transform: translate(-50px, 0);
          }
          &:nth-child(2) {
            transform: translate(50px, 0);
          }
        }
      }
      &:nth-child(odd) {
        flex-direction: row-reverse;
        @include down-sm {
          flex-direction: column;
        }
        div {
          &:nth-child(1) {
            transform: translate(50px, 0);
          }
          &:nth-child(2) {
            transform: translate(-50px, 0);
          }
        }
      }
      div {
        opacity: 0;
        transition: all 0.4s;
        &:nth-child(1) {
          flex: 0 1 436px;
          @include down-sm {
            flex: auto;
          }
          img {
            display: block;
            width: 100%;
            margin-top: -1px;
            margin-bottom: -1px;
            @include down-sm {
              width: 40%;
              margin: 20vw auto 5vw !important;
            }
          }
        }
        &:nth-child(2) {
          flex: 0 1 1484px;
          letter-spacing: 2px;
          padding: 0 175px;
          font: 400 25.5px/37px $font-regular;
          color: #000;
          text-transform: uppercase;
          position: relative;
          @include down-sm {
            flex: auto;
            padding: 0 5vw 10vw;
            font: 400 4vw/6vw $font-regular;
            text-align: center;
            letter-spacing: 0.8vw;
          }
          p {
            position: relative;
            z-index: 5;
          }
          video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 0;
            transition: all 0.3s;
            opacity: 0;
          }
          // &:before {
          //   content: " ";
          //   background: url("../assets/img/texture-min.svg") no-repeat;
          //   background-size: cover;
          //   position: absolute;
          //   top: 0;
          //   left: 0;
          //   width: 100%;
          //   height: 100%;
          //   background-position: center;
          //   opacity: 0;
          //   transition: all 0.3s;
          // }
          p {
            margin: 0;
          }
        }
      }
      &.init {
        div {
          transform: translate(0, 0) !important;
          opacity: 1;
        }
      }
    }
  }
}

.product-about {
  background: #000;
  padding-top: 20px;
  .product-about-noodle-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .about-noodle-item {
      flex: 0 1 calc(25% - 15px);
      max-width: calc(25% - 15px);
      margin-bottom: 0;

      &.init {
        .item-img {
          &:before {
            transform: translate(0, -101%);
          }
        }
        .item-content {
          h2,
          .btn-fill {
            opacity: 1;
            transform: translate(0, 0);
          }
        }
      }

      &:not(.show) {
        .item-img {
          padding-top: 81%;
        }
        .item-content {
          height: 340px;
          padding-bottom: 70px;
          .item-content-wrapper {
            padding-left: 30px;
            padding-right: 30px;
          }
          .btn-fill {
            display: inline-block;
            width: 310px;
            font: 400 15px/16px $font-lemon;
            letter-spacing: 4px;
            padding: 15px;
          }
          h2 {
            font: 400 30px/33px $font-lemon;
            margin-bottom: 15px;
            letter-spacing: 6px;
            &.no1 {
              &:before {
                width: 85px;
                height: 80px;
                left: -17px;
                top: -52px;
              }
            }
          }
        }
      }
    }
  }
}

.product-carousel {
  height: 760px;
  position: static !important;
  .owl-nav {
    .owl-prev {
      left: 85px;
      position: absolute;
      top: calc(50% - 50px);
      img {
        width: 100px;
        height: auto;
      }
    }
    .owl-next {
      right: 85px;
      position: absolute;
      top: calc(50% - 50px);
      img {
        width: 100px;
        height: auto;
      }
    }
    img {
      opacity: 0.7;
      transition: all 0.3s;
      &:hover {
        opacity: 1;
      }
    }
    button {
      outline: 0;
    }
    @include down-sm {
      .owl-prev {
        left: 0;
        top: calc(50% - 4vw);
        img {
          width: 8vw;
        }
      }
      .owl-next {
        right: 0;
        top: calc(50% - 4vw);
        img {
          width: 8vw;
        }
      }
      img {
        &:hover {
        }
      }
      button {
      }
    }
  }
}

@include desk {
  .product-hero {
    height: 37.86vw;
  }

  .hero-main-product-sec {
    top: 8.59vw;
    .hero-main-product {
      img {
        top: 10.68vw;
        width: 45.94vw;
      }
      &:before {
        width: 21.35vw;
        height: 26.04vw;
        left: -11.61vw;
        top: 25.52vw;
      }
    }
  }
  .product-h2 {
    margin-top: 4.48vw;
    font: 400 1.67vw/1.77vw $font-lemon;
    letter-spacing: 0.26vw;
    margin-bottom: 1.56vw;
    &.facts {
      margin-top: 4.69vw;
      margin-bottom: -0.26vw;
    }
  }
  .product-info {
    padding-top: 22.4vw;
    padding-bottom: 6.98vw;
    #mandarin-style {
      width: 19.79vw;
    }
    h1 {
      font: 400 4.01vw/4.01vw $font-lemon;
      margin-top: 0.89vw;
      margin-bottom: 4.01vw;
      &.init {
        letter-spacing: 2.4vw;
      }
    }
    #logoimg {
      width: 4.69vw;
      transform: translate(0, 2.6vw);
      &.init {
      }
    }
    #callouts {
      width: 23.44vw;
      margin: 1.72vw auto 0;
      img {
        &:nth-child(1) {
          transform: translate(5.21vw, 0);
        }
        &:nth-child(2) {
          transform: translate(0, 2.6vw);
        }
        &:nth-child(3) {
          transform: translate(-5.21vw, 0);
        }
      }
    }

    .product-info-content {
      font: 400 1.04vw/1.98vw $font-regular;
      width: 44.79vw;
      letter-spacing: 0.18vw;
    }
    #nfp {
      width: 53.65vw;
    }
  }

  .product-middle {
    height: 39.58vw;
    border-top: 0.78vw solid #000;
  }
  .instructions-heading {
    border-top: 0.78vw solid #000;
    padding: 7.81vw 0;
    h2 {
      font: 400 3.96vw/8.59vw $font-lemon;
      letter-spacing: 0.57vw;
    }
  }
  .instructions {
    .intructions-inner {
      .intructions-row {
        border-bottom: 0.78vw solid #000;

        &:nth-child(even) {
          div {
            &:nth-child(1) {
              transform: translate(-2.6vw, 0);
            }
            &:nth-child(2) {
              transform: translate(2.6vw, 0);
            }
          }
        }
        &:nth-child(odd) {
          div {
            &:nth-child(1) {
              transform: translate(2.6vw, 0);
            }
            &:nth-child(2) {
              transform: translate(-2.6vw, 0);
            }
          }
        }
        div {
          &:nth-child(1) {
            flex: 0 1 22.71vw;
            img {
            }
          }
          &:nth-child(2) {
            flex: 0 1 77.29vw;
            letter-spacing: 0.1vw;
            padding: 0 9.11vw;
            font: 400 1.33vw/1.93vw $font-regular;
          }
        }
      }
    }
  }

  .product-about {
    padding-top: 1.04vw;
    .product-about-noodle-row {
      .about-noodle-item {
        flex: 0 1 calc(25% - 0.78vw);
        max-width: calc(25% - 0.78vw);

        &:not(.show) {
          .item-content {
            height: 17.71vw;
            padding-bottom: 3.65vw;
            .item-content-wrapper {
              padding-left: 1.56vw;
              padding-right: 1.56vw;
            }
            .btn-fill {
              width: 16.15vw;
              font: 400 0.78vw/0.83vw $font-lemon;
              letter-spacing: 0.21vw;
              padding: 0.78vw;
            }
            h2 {
              font: 400 1.56vw/1.72vw $font-lemon;
              margin-bottom: 0.78vw;
              letter-spacing: 0.31vw;
              &.no1 {
                &:before {
                  width: 4.43vw;
                  height: 4.17vw;
                  left: -0.89vw;
                  top: -2.71vw;
                }
              }
            }
          }
        }
      }
    }
  }

  .product-carousel {
    height: 39.58vw;

    .owl-nav {
      .owl-prev {
        left: 4.43vw;
        top: calc(50% - 2.6vw);
        img {
          width: 5.21vw;
        }
      }
      .owl-next {
        right: 4.43vw;
        top: calc(50% - 2.6vw);
        img {
          width: 5.21vw;
        }
      }
    }
  }
}
