.product-hero {
  height: 727px;
  @include down-sm {
    height: auto;
    padding: 39vw 0 27vw;
  }
}

.hero-main-product-sec {
  position: absolute;
  top: 165px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  z-index: 15;
  @include down-sm {
    top: 18vw;
  }
  .hero-main-product {
    position: relative;
    margin: auto;
    display: inline-block;
    img {
      position: relative;
      top: 205px;
      height: auto;
      width: 882px;
      z-index: 10;
      opacity: 0;
      transform: scale(3);
      transition: all 1.5s cubic-bezier(0.15, 1.01, 1, 1);
      @include down-sm {
        width: 58vw;
        top: 21.35vw;
      }
    }
    &:before {
      content: " ";
      background: url(../assets/img/SpicyPepper.png) no-repeat;
      width: 410px;
      height: 500px;
      background-size: contain;
      position: absolute;
      left: -223px;
      top: 490px;
      z-index: 5;
      transform: translate(50%, 0);
      opacity: 0;
      transition: 1s all 1s;
      @include down-sm {
        width: 36vw;
        left: -12vw;
        top: 30vw;
        height: 52.08vw;
      }
    }
  }
  &.init {
    .hero-main-product {
      img {
        opacity: 1;
        transform: scale(1);
      }
      &:before {
        transform: translate(0, 0);
        opacity: 1;
      }
    }
  }
}
.product-h2 {
  margin-top: 86px;
  color: #e16048;
  text-transform: uppercase;
  font: 400 32px/34px $font-lemon;
  letter-spacing: 5px;
  margin-bottom: 30px;
  &.facts {
    margin-top: 90px;
    margin-bottom: -5px;
    @include down-sm {
      margin-top: 10vw;
      margin-bottom: 3vw;
    }
  }
  @include down-sm {
    margin-top: 5vw;
    font: 400 5.5vw/8vw $font-lemon;
    letter-spacing: 0.6vw;
    margin-bottom: 3vw;
  }
}
.product-info {
  text-align: center;
  padding-top: 430px;
  padding-bottom: 134px;
  position: relative;
  z-index: 10;
  background: #fff;
  @include down-sm {
    padding-top: 28vw;
    padding-bottom: 9vw;
  }
  #mandarin-style {
    width: 380px;
    @include down-sm {
      width: 44vw;
    }
    opacity: 0;
    transition: all 0.3s;
    &.init {
      opacity: 1;
    }
  }
  h1 {
    font: 400 77px/77px $font-lemon;
    letter-spacing: 0;
    text-transform: uppercase;
    color: #000;
    margin-top: 17px;
    margin-bottom: 77px;
    opacity: 0;
    transition: all 1s;
    &.init {
      opacity: 1;
      letter-spacing: 46px;
    }
    @include down-sm {
      font: 400 6vw/6vw $font-lemon;
      margin-top: 1vw;
      margin-bottom: 5vw;
      &.init {
        letter-spacing: 2vw;
      }
    }
  }
  #logoimg {
    width: 90px;
    opacity: 0;
    transition: 0.5s all 0.5s;
    transform: translate(0, 50px);
    @include down-sm {
      width: 12vw;
      transform: translate(0, 5.21vw);
      padding: 4vw 0;
    }
    &.init {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
  #callouts {
    width: 450px;
    margin: 33px auto 0;
    display: flex;
    justify-content: space-between;
    @include down-sm {
      width: 100%;
      margin: 5vw auto 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    img {
      width: 31%;
      opacity: 0;
      transition: all 0.5s;
      &:nth-child(1) {
        transform: translate(100px, 0);
      }
      &:nth-child(2) {
        transform: translate(0, 50px);
      }
      &:nth-child(3) {
        transform: translate(-100px, 0);
      }
      @include down-sm {
        width: 35%;
        margin-bottom: 4vw;
        &:nth-child(1) {
          transform: translate(0, 20%);
          transition: 0.5s all 0s;
        }
        &:nth-child(2) {
          transform: translate(0, 20%);
          transition: 0.5s all 0.3s;
        }
        &:nth-child(3) {
          transform: translate(0, 20%);
          transition: 0.5s all 0.6s;
        }
      }
    }
    &.init {
      img {
        opacity: 1 !important;
        transform: translate(0, 0) !important;
      }
    }
  }

  .product-info-content {
    font: 400 20px/38px $font-regular;
    width: 860px;
    margin: auto;
    letter-spacing: 2px;
    @include down-sm {
      font: 400 4vw/5.5vw $font-regular;
      width: 95%;
      letter-spacing: 0.15vw;
      margin: 0 0 1vw 0;
    }
    p {
      margin: 0 0 10px 0;
    }
  }
  #nfp {
    margin: auto;
    width: 1030px;
    @include down-sm {
      width: 90%;
      margin: 15vw auto 0;
    }
  }
}

.product-middle {
  position: relative;
  z-index: 5;
  background: #000;
  overflow: hidden;
  border-top: 15px solid #000;
  @include down-sm {
    height: 70vh;
    border-top: 1.04vw solid #000;
    border-bottom: 1.04vw solid #000;
    .owl-carousel .owl-item img {
      width: auto;
      height: 70vh;
    }
  }
  &:before {
    content: " ";
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 200vw;
    height: 100%;
    transform: translate(-201vw, 0);
    z-index: 1;
    transition: all 1s cubic-bezier(0, 0, 0.96, -0.1);
  }

  img {
    width: 100%;
    display: block;
    opacity: 0;
    transition: 1s all 0.5s;
  }
  &.init {
    &::before {
      transform: translate(201vw, 0);
    }
    img {
      opacity: 1;
    }
  }
}
.instructions-heading {
  border-top: 15px solid #000;
  padding: 150px 0;
  @include down-sm {
    border-top: 0;
    padding: 10vw 0;
  }
  h2 {
    font: 400 76px/165px $font-lemon;
    letter-spacing: 11px;
    text-transform: uppercase;
    white-space: nowrap;
    color: #000;
    left: 0;
    position: relative;
    animation: 6000s marquee infinite linear;
    @include down-sm {
      animation: 2000s marquee infinite linear;

      font: 400 7.92vw/17.19vw $font-lemon;
      letter-spacing: 1.15vw;
    }
    &.init {
      color: #fff;
    }
  }
}
.instructions {
  // padding-top: 70px;
  // padding-bottom: 72px;
  h2 {
    text-align: center;
  }
  .intructions-inner {
    // margin: 82px auto 0;
    // width: 955px;
    .intructions-row {
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      border-bottom: 15px solid #000;
      background: #fff;
      position: relative;
      overflow: hidden;
      video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 0;
        transition: all 0.3s;
        opacity: 0;
        @include down-sm {
          height: 100%;
          width: auto;
        }
      }
      @include down-sm {
        justify-content: center;
        align-items: center;
        border-bottom: 2vw solid #000;
        &.init {
          video {
            opacity: 0.5;
          }
        }
      }
      &:hover {
        @include up-sm {
          video {
            opacity: 0.5;
          }
        }
      }
      > div {
        display: flex;
        align-items: center;
        overflow: hidden;
      }
      &:last-child {
        border-bottom: none;
      }
      &:nth-child(even) {
        flex-direction: row;
        @include down-sm {
          flex-direction: column;
        }
        div {
          &.item-img {
            transform: translate(-50px, 0);
          }
          &.item-content {
            transform: translate(50px, 0);
          }
        }
      }
      &:nth-child(odd) {
        flex-direction: row-reverse;
        @include down-sm {
          flex-direction: column;
        }
        div {
          &.item-img {
            transform: translate(50px, 0);
          }
          &.item-content {
            transform: translate(-50px, 0);
          }
        }
      }
      div {
        opacity: 0;
        transition: all 0.4s;

        &.item-img {
          flex: 0 1 436px;
          @include down-sm {
            flex: auto;
          }
          img {
            display: block;
            width: 100%;
            margin-top: -1px;
            margin-bottom: -1px;
            @include down-sm {
              width: 40%;
              margin: 20vw auto 5vw !important;
            }
          }
        }
        &.item-content {
          flex: 0 1 1484px;
          letter-spacing: 2px;
          padding: 0 175px;
          font: 400 25.5px/37px $font-regular;
          color: #000;
          text-transform: uppercase;
          position: relative;
          @include down-sm {
            flex: auto;
            padding: 0 5vw 10vw;
            font: 400 4vw/6vw $font-regular;
            text-align: center;
            letter-spacing: 0.8vw;
          }
          p {
            position: relative;
            z-index: 5;
          }

          // &:before {
          //   content: " ";
          //   background: url("../assets/img/texture-min.svg") no-repeat;
          //   background-size: cover;
          //   position: absolute;
          //   top: 0;
          //   left: 0;
          //   width: 100%;
          //   height: 100%;
          //   background-position: center;
          //   opacity: 0;
          //   transition: all 0.3s;
          // }
          p {
            margin: 0;
          }
        }
      }
      &.init {
        div {
          transform: translate(0, 0) !important;
          opacity: 1;
        }
      }
    }
  }
}

.product-about {
  background: #000;
  padding-top: 20px;
  .product-about-noodle-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .about-noodle-item {
      flex: 0 1 calc(25% - 15px);
      max-width: calc(25% - 15px);
      margin-bottom: 0;

      &.init {
        .item-img {
          &:before {
            transform: translate(0, -101%);
          }
        }
        .item-content {
          h2,
          .btn-fill {
            opacity: 1;
            transform: translate(0, 0);
          }
        }
      }

      &:not(.show) {
        .item-img {
          padding-top: 81%;
        }
        .item-content {
          height: 340px;
          padding-bottom: 70px;
          .item-content-wrapper {
            padding-left: 30px;
            padding-right: 30px;
          }
          .btn-fill {
            display: inline-block;
            width: 310px;
            font: 400 15px/16px $font-lemon;
            letter-spacing: 4px;
            padding: 15px;
          }
          h2 {
            font: 400 30px/33px $font-lemon;
            margin-bottom: 15px;
            letter-spacing: 6px;
            &.no1 {
              &:before {
                width: 85px;
                height: 80px;
                left: -17px;
                top: -52px;
              }
            }
          }
        }
      }
    }
  }
}

.product-carousel {
  // height: 760px;
  position: static !important;
  .owl-dots {
    display: none !important;
  }
  .owl-nav {
    .owl-prev {
      left: 85px;
      position: absolute;
      top: calc(50% - 100px);
      img {
        width: 200px;
        height: auto;
      }
    }
    .owl-next {
      right: 85px;
      position: absolute;
      top: calc(50% - 100px);
      img {
        width: 200px;
        height: auto;
      }
    }
    img {
      opacity: 0.9;
      transition: all 0.3s;
      &:hover {
        opacity: 1;
      }
    }
    button {
      outline: 0;
    }
    @include down-sm {
      .owl-prev {
        left: 0;
        top: calc(50% - 4vw);
        img {
          width: 8vw;
        }
      }
      .owl-next {
        right: 0;
        top: calc(50% - 4vw);
        img {
          width: 8vw;
        }
      }
      img {
        &:hover {
        }
      }
      button {
      }
    }
  }
}

.product-gallery {
  border-top: 20px solid #000;
  .product-gallery-grid {
    display: flex;
    // align-items: flex-start;
    div {
      overflow: hidden;
    }
    img {
      display: block;
      width: 100%;
      transition: all 0.5s;
      &:hover {
        transform: scale(1.2);
      }
    }

    .col1 {
      flex: 0 1 calc(23.5% - 20px);
      .td1 {
        margin-bottom: 20px;
        opacity: 0;
        transition: 0s all 0.3s;
      }
      .td2 {
        opacity: 0;
        transition: 0.3s all 0.3s;
      }
    }
    .col2 {
      flex: 0 1 32.5%;
      border-left: 20px solid #000;
      border-right: 20px solid #000;
      opacity: 0;
      transition: 0.6s all 0.3s;
    }
    .col3 {
      flex: 0 1 calc(46% - 20px);
      .row1 {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        border-bottom: 20px solid #000;

        .td1 {
          flex: 0 1 calc(50% - 10px);
          opacity: 0;
          transition: 0.9s all 0.3s;
        }
        .td2 {
          flex: 0 1 calc(50% - 10px);
          opacity: 0;
          transition: 1.2s all 0.3s;
        }
      }
      .row2 {
        .td1 {
          opacity: 0;
          transition: 1.5s all 0.3s;
        }
      }
    }
    &.init {
      div {
        opacity: 1 !important;
      }
    }
  }
}
.component {
  border-top: 20px solid #000;

  .container-fluid {
    display: flex;
    justify-content: space-between;
  }
  .component-left {
    flex: 0 1 13.5%;
    position: relative;
    background: #000;
    h2 {
      font: bold 66px/70px $font-lemon;
      color: #fff;
      white-space: nowrap;
      position: absolute;
      text-transform: uppercase;
      transform: rotate(90deg);
      left: 120px;
      text-align: center;
      top: 88px;
      transform-box: fill-box;
      transform-origin: left;
      letter-spacing: -40px;
      opacity: 0;
      transition: all 0.5s;
    }
  }
  .component-right {
    flex: 0 1 86.5%;
    background: #fff url(../assets/img/tray/tray-bg.svg) no-repeat;
    background-size: cover;
    padding-left: 90px;
    padding-top: 120px;
    position: relative;
    padding-bottom: 45px;
    h3 {
      font: bold 47px/57px $font-lemon;
      text-transform: uppercase;
      letter-spacing: 20px;
      margin-bottom: 30px;
      opacity: 0;
      transition: all 0.3s;
    }
    .component-item {
      &.main {
        .item-img {
          width: 677px;
          position: relative;
          left: -36px;
          opacity: 0;
          transform: scale(0);
          transition: 0.3s all 0.3s;
        }
        .item-no {
          position: relative;
          right: 47px;
          top: 42px;
          opacity: 0;
          transition: 0.3s all 0s;
        }
      }
      .item-no {
        width: 75px;
        height: 75px;
      }
      &.item2 {
        position: absolute;
        right: 1000px;
        top: 330px;
        transform: scale(0);

        transition: 0.3s all 0.6s;
        .item-img {
          width: 400px;
        }
        .item-no {
          position: absolute;
          top: -20px;
          left: -37px;
        }
      }
      &.item3 {
        position: absolute;
        right: 1000px;
        top: 330px;
        transform: scale(0);

        transition: 0.3s all 1.1s;
        z-index: 6;
        .item-img {
          width: 208px;
        }
        .item-no {
          position: absolute;
          right: 75px;
          top: -50px;
        }
      }
      &.item4 {
        position: absolute;
        right: 1000px;
        top: 330px;
        transform: scale(0);

        transition: 0.3s all 1.6s;
        z-index: 5;
        .item-img {
          width: 183px;
        }
        .item-no {
          position: absolute;
          right: -47px;
          top: 45px;
        }
      }
      &.item5 {
        position: absolute;
        right: 1000px;
        top: 330px;
        transform: scale(0);

        transition: 0.3s all 2.1s;
        .item-img {
          width: 472px;
        }
        .item-no {
          position: absolute;
          left: 69px;
          bottom: -35px;
        }
      }
    }
    .list {
      display: flex;
      justify-content: flex-start;
      margin-top: 30px;
      margin-left: -20px;
      .list-left {
        img {
          width: 130px;
        }
      }
      .list-right {
        ul {
          list-style: none;
          margin-top: 52px;
          li {
            font: 400 17px/29px $font-regular;
            letter-spacing: 0.7px;
            strong {
              font: 400 17px/29px $font-lemon;
            }
          }
        }
      }
    }
  }
  &.init {
    .component-left {
      h2 {
        letter-spacing: 0px;
        opacity: 1;
      }
    }
    .component-right {
      h3 {
        letter-spacing: 6px;
        opacity: 1;
      }
      .component-item {
        &.main {
          .item-img,
          .item-no {
            opacity: 1;
            transform: scale(1);
          }
        }
        &.item2 {
          right: 395px;
          top: 120px;
          transform: scale(1);
        }
        &.item3 {
          right: 165px;
          top: 220px;
          transform: scale(1);
        }
        &.item4 {
          right: 100px;
          top: 375px;
          transform: scale(1);
        }
        &.item5 {
          right: 121px;
          top: 744px;
          transform: scale(1);
        }
      }
    }
  }
}

.six-pack {
  .container-fluid {
    flex-direction: row-reverse;
    .six-pack-container {
      flex: 0 1 86.5%;
      background: #e26046 url("../assets/img/six-pack-bg.svg") no-repeat;
      background-position: right bottom;
      background-size: 90%;
      text-align: center;
      padding-top: 77px;
      .six-pack-text {
        width: 231px;
        vertical-align: top;
        position: relative;
        top: 144px;
        right: 99px;
        transform: translate(0, -100px);
        opacity: 0;
        transition: 0.3s all 0.5s;
      }
      .six-pack-img {
        width: 514px;
        position: relative;
        right: -20px;
        transform: translate(0, 100px);
        opacity: 0;
        transition: 0.3s all 0.5s;
      }
      .pack-batch {
        display: flex;
        justify-content: flex-start;
        position: relative;
        top: -85px;
        .pack-batch-col {
          flex: 0 1 40%;
          position: relative;
          img {
            width: 361px;
            position: relative;
            transform: translate(-50px, 50px);
            opacity: 0;
            &:first-child {
              z-index: 10;
            }
            &:nth-child(2) {
              top: -52px;
              right: -20px;
              z-index: 9;
              position: absolute;
            }
            &:last-child {
              right: -175px;
              z-index: 8;
              top: -105px;
              position: absolute;
            }
          }
          &:nth-child(1) {
            img {
              &:first-child {
                transition: 0.3s all 0.3s;
              }
              &:nth-child(2) {
                transition: 0.3s all 0.5s;
              }
              &:last-child {
                transition: 0.3s all 0.7s;
              }
            }
          }
          &:nth-child(2) {
            img {
              &:first-child {
                transition: 0.3s all 0.9s;
              }
              &:nth-child(2) {
                transition: 0.3s all 1.1s;
              }
              &:last-child {
                transition: 0.3s all 1.3s;
              }
            }
          }
        }
      }
    }
  }
  &.init {
    .six-pack-container {
      .six-pack-text,
      .six-pack-img,
      .pack-batch .pack-batch-col img {
        opacity: 1 !important;
        transform: translate(0, 0) !important;
      }
    }
  }
}
@include desk {
  .product-hero {
    height: 37.86vw;
  }

  .hero-main-product-sec {
    top: 8.59vw;
    .hero-main-product {
      img {
        top: 10.68vw;
        width: 45.94vw;
      }
      &:before {
        width: 21.35vw;
        height: 26.04vw;
        left: -11.61vw;
        top: 25.52vw;
      }
    }
  }
  .product-h2 {
    margin-top: 4.48vw;
    font: 400 1.67vw/1.77vw $font-lemon;
    letter-spacing: 0.26vw;
    margin-bottom: 1.56vw;
    &.facts {
      margin-top: 4.69vw;
      margin-bottom: -0.26vw;
    }
  }
  .product-info {
    padding-top: 22.4vw;
    padding-bottom: 6.98vw;
    #mandarin-style {
      width: 19.79vw;
    }
    h1 {
      font: 400 4.01vw/4.01vw $font-lemon;
      margin-top: 0.89vw;
      margin-bottom: 4.01vw;
      &.init {
        letter-spacing: 2.4vw;
      }
    }
    #logoimg {
      width: 4.69vw;
      transform: translate(0, 2.6vw);
      &.init {
      }
    }
    #callouts {
      width: 23.44vw;
      margin: 1.72vw auto 0;
      img {
        &:nth-child(1) {
          transform: translate(5.21vw, 0);
        }
        &:nth-child(2) {
          transform: translate(0, 2.6vw);
        }
        &:nth-child(3) {
          transform: translate(-5.21vw, 0);
        }
      }
    }

    .product-info-content {
      font: 400 1.04vw/1.98vw $font-regular;
      width: 44.79vw;
      letter-spacing: 0.18vw;
    }
    #nfp {
      width: 53.65vw;
    }
  }

  .product-middle {
    border-top: 0.78vw solid #000;
  }
  .instructions-heading {
    border-top: 0.78vw solid #000;
    padding: 7.81vw 0;
    h2 {
      font: 400 3.96vw/8.59vw $font-lemon;
      letter-spacing: 0.57vw;
    }
  }
  .instructions {
    .intructions-inner {
      .intructions-row {
        border-bottom: 0.78vw solid #000;

        &:nth-child(even) {
          div {
            &.item-img {
              transform: translate(-2.6vw, 0);
            }
            &.item-content {
              transform: translate(2.6vw, 0);
            }
          }
        }
        &:nth-child(odd) {
          div {
            &.item-img {
              transform: translate(2.6vw, 0);
            }
            &.item-content {
              transform: translate(-2.6vw, 0);
            }
          }
        }
        div {
          &.item-img {
            flex: 0 1 22.71vw;
            img {
            }
          }
          &.item-content {
            flex: 0 1 77.29vw;
            letter-spacing: 0.1vw;
            padding: 0 9.11vw;
            font: 400 1.33vw/1.93vw $font-regular;
          }
        }
      }
    }
  }

  .product-about {
    padding-top: 1.04vw;
    .product-about-noodle-row {
      .about-noodle-item {
        flex: 0 1 calc(25% - 0.78vw);
        max-width: calc(25% - 0.78vw);

        &:not(.show) {
          .item-content {
            height: 17.71vw;
            padding-bottom: 3.65vw;
            .item-content-wrapper {
              padding-left: 1.56vw;
              padding-right: 1.56vw;
            }
            .btn-fill {
              width: 16.15vw;
              font: 400 0.78vw/0.83vw $font-lemon;
              letter-spacing: 0.21vw;
              padding: 0.78vw;
            }
            h2 {
              font: 400 1.56vw/1.72vw $font-lemon;
              margin-bottom: 0.78vw;
              letter-spacing: 0.31vw;
              &.no1 {
                &:before {
                  width: 4.43vw;
                  height: 4.17vw;
                  left: -0.89vw;
                  top: -2.71vw;
                }
              }
            }
          }
        }
      }
    }
  }

  .product-carousel {
    // height: 39.58vw;

    .owl-nav {
      .owl-prev {
        left: 4.43vw;
        top: calc(50% - 2.6vw);
        img {
          width: 5.21vw;
        }
      }
      .owl-next {
        right: 4.43vw;
        top: calc(50% - 2.6vw);
        img {
          width: 5.21vw;
        }
      }
    }
  }

  .product-gallery {
    border-top: 1.04vw solid #000;
    .product-gallery-grid {
      .col1 {
        flex: 0 1 calc(23.5% - 1.04vw);
        .td1 {
          margin-bottom: 1.04vw;
        }
      }
      .col2 {
        border-left: 1.04vw solid #000;
        border-right: 1.04vw solid #000;
      }
      .col3 {
        flex: 0 1 calc(46% - 1.04vw);
        .row1 {
          border-bottom: 1.04vw solid #000;

          .td1 {
            flex: 0 1 calc(50% - 0.52vw);
          }
          .td2 {
            flex: 0 1 calc(50% - 0.52vw);
          }
        }
      }
    }
  }
  .component {
    border-top: 1.04vw solid #000;

    .component-left {
      h2 {
        font: bold 3.44vw/3.65vw $font-lemon;
        left: 6.25vw;
        top: 4.58vw;
        letter-spacing: -2.08vw;
      }
    }
    .component-right {
      padding-left: 4.69vw;
      padding-top: 6.25vw;
      padding-bottom: 2.34vw;
      h3 {
        font: bold 2.45vw/2.97vw $font-lemon;
        letter-spacing: 1.04vw;
        margin-bottom: 1.56vw;
      }
      .component-item {
        &.main {
          .item-img {
            width: 35.26vw;
            left: -1.88vw;
          }
          .item-no {
            right: 2.45vw;
            top: 2.19vw;
          }
        }
        .item-no {
          width: 3.91vw;
          height: 3.91vw;
        }
        &.item2 {
          right: 52.08vw;
          top: 17.19vw;

          .item-img {
            width: 20.83vw;
          }
          .item-no {
            top: -1.04vw;
            left: -1.93vw;
          }
        }
        &.item3 {
          right: 52.08vw;
          top: 17.19vw;

          .item-img {
            width: 10.83vw;
          }
          .item-no {
            right: 3.91vw;
            top: -2.6vw;
          }
        }
        &.item4 {
          right: 52.08vw;
          top: 17.19vw;

          .item-img {
            width: 9.53vw;
          }
          .item-no {
            right: -2.45vw;
            top: 2.34vw;
          }
        }
        &.item5 {
          right: 52.08vw;
          top: 17.19vw;

          .item-img {
            width: 24.58vw;
          }
          .item-no {
            left: 3.59vw;
            bottom: -1.82vw;
          }
        }
      }
      .list {
        margin-top: 1.56vw;
        margin-left: -1.04vw;
        .list-left {
          img {
            width: 6.77vw;
          }
        }
        .list-right {
          ul {
            margin-top: 2.71vw;
            li {
              font: 400 0.89vw/1.51vw $font-regular;
              letter-spacing: 0.04vw;
              strong {
                font: 400 0.89vw/1.51vw $font-lemon;
              }
            }
          }
        }
      }
    }
    &.init {
      .component-left {
        h2 {
          letter-spacing: 0.31vw;
        }
      }
      .component-right {
        h3 {
          letter-spacing: 0.31vw;
        }
        .component-item {
          &.item2 {
            right: 20.57vw;
            top: 6.25vw;
          }
          &.item3 {
            right: 8.59vw;
            top: 11.46vw;
          }
          &.item4 {
            right: 5.21vw;
            top: 19.53vw;
          }
          &.item5 {
            right: 6.3vw;
            top: 38.75vw;
          }
        }
      }
    }
  }

  .six-pack {
    .container-fluid {
      .six-pack-container {
        padding-top: 4.01vw;
        .six-pack-text {
          width: 12.03vw;
          top: 7.5vw;
          right: 5.16vw;
          transform: translate(0, -5.21vw);
        }
        .six-pack-img {
          width: 26.77vw;
          right: -1.04vw;
          transform: translate(0, 5.21vw);
        }
        .pack-batch {
          top: -4.43vw;
          .pack-batch-col {
            img {
              width: 18.8vw;
              transform: translate(-2.6vw, 2.6vw);
              &:first-child {
              }
              &:nth-child(2) {
                top: -2.71vw;
                right: -1.04vw;
              }
              &:last-child {
                right: -9.11vw;
                top: -5.47vw;
              }
            }
          }
        }
      }
    }
  }
}
